@import "variables";

@media screen and (max-width: 600px) {
  .admin-bar {
    #click-menu {
      position: absolute;
    }
  }

  .header {
    margin-top: 0 !important;
    position: static;

    .search-form {
      display: none;
    }
  }

  #content {
    margin-top: 0;
  }
}